<div class="govuk-phase-banner govuk-width-container">
    <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
            {{ phase_banner_settings.phase_label|default:"Alpha" }}
        </strong>
        <span class="govuk-phase-banner__text">
            {{ phase_banner_settings.phase_text|default:"This is a new service - " }}
            {% firstof phase_banner_settings.feedback_link_text "your feedback" as feedback_link_text %}
            {% if phase_banner_settings.feedback_url %}
                <a class="govuk-link" href="{{ phase_banner_settings.feedback_url }}">{{ feedback_link_text }}</a>
            {% else %}
                {{ feedback_link_text }}
            {% endif %}
            {{ phase_banner_settings.phase_text_after|default:"will help us to improve it." }}
        </span>
    </p>
</div>
