<div class="app-site-search">
    <form action="{% url 'search' %}"
          method="get"
          role="search"
          class="app-site-search__form">
        <label class="govuk-visually-hidden" for="app-site-search__input">
            Search
            {% if customise_settings and customise_settings.show_site_name_in_search_box %}
                {% if current_site.site_name %}
                    {{ current_site.site_name }}
                {% else %}
                    this site
                {% endif %}
            {% endif %}
        </label>
        <input class="govuk-input app-site-search__input"
               id="app-site-search__input"
               name="query"
               type="search"
               value="{{ request.GET.query|default_if_none:'' }}"
               placeholder="{% if customise_settings and customise_settings.search_placeholder %}{{ customise_settings.search_placeholder }}{% else %}Search{% if customise_settings and customise_settings.show_site_name_in_search_box %}{% if current_site.site_name %} {{ current_site.site_name }}{% else %} this site{% endif %}{% endif %}{% endif %}" />
        <button class="govuk-button govuk-button--inverse app-site-search__button"
                data-module="govuk-button"
                type="submit"
                enterkeyhint="search"
                aria-label="Search">
            <svg class="gem-c-search__icon"
                 width="27"
                 height="27"
                 viewBox="0 0 27 27"
                 fill="none"
                 xmlns="http://www.w3.org/2000/svg"
                 aria-hidden="true"
                 focusable="false">
                <circle cx="12.0161" cy="11.0161" r="8.51613" stroke="currentColor" stroke-width="3"></circle>
                <line x1="17.8668" y1="17.3587" x2="26.4475" y2="25.9393" stroke="currentColor" stroke-width="3"></line>
            </svg>
        </button>
    </form>
</div>
